:root {
    --marginH: 2vw;
    --marginHMobile: 6vw;
    --topDiv: 15vh;


    --footer: #1A1A1A;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

p,
li {
    font-size: calc(12px + 0.2vw);
}

.marginTopDefault {
    margin-top: var(--marginH);
}

a {
    text-decoration: none;
    color: black;
}



/*geral*/
.geralDiv {
    display: flex;
    justify-content: space-between;
    margin: var(--marginH);
}

.lateralDiv {
    width: 30%;
    height: calc(100vh - var(--marginH)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: var(--marginH);
}

.mainDiv {
    width: 68%;
}

.topDiv {
    height: 15vh;
}

header {
    height: var(--topDiv);
}

.topDiv p {
    font-weight: 700;
}



/*header*/
.menuIcon {
    width: 3vw;
    display: flex;
    justify-content: center;
}

.menuHeader {
    display: flex;
}

.menuHeader img {
    height: calc(20px + 0.3vw);
}

#closeMenu {
    display: none;
}

#logoHeader {
    display: grid;
}

#logoHeader img {
    width: 70%;
}


#menuItems li {
    list-style-type: none;
    margin-left: 0vw;
    transition: margin-left 0.5s;
}

#menuItems li:hover {
    margin-left: 1vw;
    transition: margin-left 0.5s;
}

#menuItems {
    display: block;
    margin-left: calc(var(--marginH)/2);
    opacity: 0;
    transition: opacity 0.5s;
}

#menuItems.show {
    display: block;
    opacity: 1;
}

.selected {
    font-weight: 700;
}

#logoPart1 {
    transition: transform 0.1s linear;
    width: calc(70% / 2.5) !important;
}




/*index*/
.imageIndex img {
    width: 100%;
    height: calc(100vh - var(--topDiv) - var(--marginH)*2);
    object-fit: cover;
}

.test {
    margin-top: var(--marginH)
}




/*footer*/
footer {
    background-color: var(--footer);
    color: white
}

#logoFooter {
    width: 13vw;
}

.footerContent {
    display: flex;
    padding: var(--marginH);
    justify-content: space-between;
    align-items: flex-end
}

.footerContent div {
    min-width: 20%;
}