:root {
    --marginH: 2vw;
    --marginHMobile: 6vw;
    --topDiv: 15vh;
    --topDivMobile: 15vh;
    --borderRadius: 20px;
    --headerHeightMobile:15vh;


    --black: #212121;
    --grey: #F2F2F2;

}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

body {
    overflow-x: hidden;
}

p,
li, .button{
    font-size: calc(14px + 0.2vw);
}


.newsDetails p{
    font-size: calc(12px + 0.2vw);
}

h1 {
    font-size: calc(27px + 0.2vw);
    font-weight: 700;
}

h2 {
    font-size: calc(16px + 0.5vw);
    font-weight: 700;
}

h3 {
    font-size: calc(18px + 0.2vw);
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

::-moz-selection {
    background: var(--grey);
}

::selection {
    background: var(--grey);
}


a {
    text-decoration: none;
    color: black;
}

.marginTopDefault {
    margin-top: var(--marginH);
}

.marginBottomDefault {
    margin-bottom: var(--marginH);
}


.marginTopDouble {
    margin-top: calc(var(--marginH) * 2);
}

.marginBottomDouble {
    margin-bottom: calc(var(--marginH) * 2);
}

.marginTopHalf {
    margin-top: calc(var(--marginH) / 2);
}

.marginBottomHalf {
    margin-bottom: calc(var(--marginH) / 2);
}

.marginTopTriple {
    margin-top: calc(var(--marginH) *3);
}

.marginBottomTriple {
    margin-bottom: calc(var(--marginH) *3);
}


/*geral*/
.geralDiv {
    display: flex;
    justify-content: space-between;
    margin: var(--marginH);
}

.lateralDiv {
    width: 30%;
    height: calc(100vh - var(--marginH)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: var(--marginH);
    background-color: white;
    z-index: 2;
}

.mainDiv {
    width: 68%;
}

.topDiv {
    height: var(--topDiv);
}

header {
    height: var(--topDiv);
}

.topDiv p {
    font-weight: 700;
}

.textDiv {
    width: 60%;
}

.section {
    height: calc(100vh - var(--marginH) * 2);
}



/*header*/
.menuIcon {
    width: 3vw;
    display: flex;
    justify-content: center;
}

.menuHeader {
    display: flex;
}

.menuHeader img {
    height: calc(var(--marginH)/2)
}

#closeMenuDesktop {
    display: none;
}

#logoHeader {
    display: grid;
}

#logoHeader img {
    width: 60%;
}

#menuItems li {
    list-style-type: none;
    margin-left: 0vw;
    transition: margin-left 0.5s;
}

#menuItems li:hover {
    margin-left: 1vw;
    transition: margin-left 0.5s;
}

#menuItems {
    display: block;
    margin-left: calc(var(--marginH)/4);
    opacity: 0;
    transition: opacity 0.5s;
}

#menuItems.show {
    display: block;
    opacity: 1;
}

.selected {
    font-weight: 700;
}

#logoPart1 {
    transition: transform 0.1s linear;
    width: calc(70% / 2.5) !important;
}

#logoEstatico {
    width: 60% !important;
}


/*patrimonio mundial*/
.imagePatrimonio img {
    height: 40vh !important;
}


/*index*/
.imageIndex img {
    width: 100%;
    height: calc(100vh - var(--topDiv) - var(--marginH)*2);
    object-fit: cover;
}

.test {
    margin-top: var(--marginH)
}


.agenda {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--marginH));
    border-radius: var(--borderRadius);
    transition: background-color 0.5s;
}

.agenda:hover{
    background-color: var(--grey);
    cursor: pointer;
}

.agendaH1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agendaDetails {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.agendaArrow {
    display: flex;
    align-items: flex-end;
}

.agendaArrow img {
    width: 1vw;
}

.newsGeneral {
    display: inline-flex;
    gap: calc(var(--marginH) / 2);
    overflow: hidden;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.news {
    user-select: none;
    background-color: var(--black);
    color: white;
    padding: calc(var(--marginH));
    width: 18vw;
    flex: 0 0 auto;
    border-radius: var(--borderRadius);
}


.newsGeneral:active {
    cursor: grabbing;
}

.newsH1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.newsImage {
    margin-top: calc(var(--marginH)*2);

    max-width: 100%;
    overflow: hidden;
}

.newsImage img {
    height: 15vw;
    width: auto;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.visitaDiv {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--marginH));
    border-radius: var(--borderRadius);
    height: 5vw;
}


.news p {
    text-wrap: wrap;
}

.newsH1Title {
    width: 80%
}

.newsH1Title h1 {
    text-wrap: wrap;
}

.button {
    background-color: white; 
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--borderRadius)* 0.6) calc(var(--borderRadius)* 1.8);
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    transition: background-color 1s;
  }

  .button:hover{
    background-color: var(--grey);
    cursor: pointer;
  }

  .buttonVisitDiv{
    display: flex;
    align-items: flex-end;
  }

  .arrowScroll img{
    width: 1.5vw;
  }

.arrowScroll{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrowScroll img{
    cursor: pointer;
}





/*footer*/
footer {
    background-color: var(--black);
    color: white
}

#logoFooter {
    width: 13vw;
}

.footerContent {
    display: flex;
    padding: var(--marginH);
    justify-content: space-between;
    align-items: flex-end
}

.footerContent div {
    min-width: 20%;
}


@media screen and (max-width:900px) {

    p, .button {
        font-size: calc(13px + 0.2vw);
    } 
    .geralDiv {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .lateralDiv{
        width: calc(100vw - var(--marginHMobile)* 2);
        height: var(--headerHeightMobile);
        display: flex;
        flex-direction: row-reverse;
        padding: var(--marginHMobile);
    }

    .mainDiv {
        width: calc(100vw - var(--marginHMobile)* 2);
        padding: var(--marginHMobile);
    }
    
    #menuItems{
        display: none;
    }

    .menuHeader img {
        height: calc(var(--marginHMobile)* 0.7);
    }

    .topDiv {
        height: var(--topDivMobile);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imageIndex img {
        width: 100%;
        height: calc(var(--vh, 1h) * 100 - var(--marginHMobile)*4 - var(--topDivMobile) - var(--headerHeightMobile));
        object-fit: cover;
    }

    #logoEstatico{
    width: auto !important;
    height: 100%;
    }

    #menuIconDesktop{
        display: none;
    }

    #closeMenuDesktop{
        display: none;
    }

}