:root {
    --marginH: 2vw;
    --marginHMobile: 6vw;
    --topDiv: 15vh;
    --topDivMobile: 10vh;
    --borderRadius: 10px;
    --headerHeightMobile: 15vh;


    --black: #212121;
    --grey: #F2F2F2;

}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

p,
li,
.button {
    font-size: calc(10px + 0.390625vw);
}

p,
h3 {
    text-wrap: pretty;
}

.button {
    font-size: calc(10px + 0.390625vw);
}

.newsDetails p {
    font-size: calc(10px + 0.390625vw);
    text-wrap: wrap;
}

footer p {
    font-size: calc(10px + 0.390625vw);
}

h1 {
    font-size: calc(30px + 0.390625vw);
    font-weight: 700;
}

h2 {
    font-size: calc(26px + 0.390625vw);
    font-weight: 700;
}

h3 {
    font-size: calc(18px + 0.390625vw);
    font-weight: 700;
}

h4 {
    font-size: calc(15px + 0.390625vw);
    font-weight: 500;
}

.borderRadius {
    border-radius: var(--borderRadius);
}

.bold {
    font-weight: 700 !important;
}

::-moz-selection {
    background: var(--grey);
}

::selection {
    background: var(--grey);
}


a {
    text-decoration: none;
    color: black;
}

.marginTopDefault {
    margin-top: var(--marginH);
}

.marginBottomDefault {
    margin-bottom: var(--marginH);
}


.marginTopDouble {
    margin-top: calc(var(--marginH) * 2);
}

.marginBottomDouble {
    margin-bottom: calc(var(--marginH) * 2);
}

.marginTopHalf {
    margin-top: calc(var(--marginH) / 2);
}

.marginBottomHalf {
    margin-bottom: calc(var(--marginH) / 2);
}

.marginTop4 {
    margin-top: calc(var(--marginH) * 4);
}

.marginBottom4 {
    margin-bottom: calc(var(--marginH) * 4);
}

.marginTopTriple {
    margin-top: calc(var(--marginH) * 3);
}

.marginBottomTriple {
    margin-bottom: calc(var(--marginH) * 3);
}


/*geral*/
.arrowScroll {
    display: none !important;
}

.geralDiv {
    display: flex;
    justify-content: space-between;
}

.lateralDiv {
    width: 25%;
    height: calc(100vh - var(--marginH)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
    padding: var(--marginH);
}

.mainDiv {
    width: 75%;
    padding: var(--marginH);
}

.topDiv {
    height: var(--topDiv);
}

header {
    height: var(--topDiv);
}

.topDiv p {
    font-weight: 700;
}

.textDiv {
    width: 60%;
}

.section {
    min-height: calc(100vh - var(--marginH) * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--marginH);
}



/*header*/
.menuIcon {
    width: 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menuIcon svg {
    height: 1.2vw;
    min-height: 20px;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

#menuIconMobile {
    display: none;
}

.menuHeader {
    display: flex;
    position: fixed;
}

.menuHeader img {
    height: calc(var(--marginH)/2)
}

#closeMenuDesktop {
    display: none;
}

#logoHeader {
    display: grid;
    position: fixed;
    bottom: 0;
    margin-bottom: var(--marginH);
    mix-blend-mode: difference;
    width: calc(21% - var(--marginH)*3);
}


#logoHeaderMobile {
    display: none;
}

#menuItemsDesktop li {
    list-style-type: none;
    margin-left: 0vw;
    transition: margin-left 0.5s;
}

#menuItemsDesktop li:hover {
    margin-left: 1vw;
    transition: margin-left 0.5s;
}

#menuItemsDesktop {
    display: block;
    margin-left: calc(var(--marginH)/4);
    opacity: 0;
    transition: opacity 0.5s;
}

#menuItemsDesktop.show {
    display: block;
    opacity: 1;
}

.selected {
    font-weight: 700;
}

#logoPart1 {
    transition: transform 0.1s linear;
    width: calc(70% / 2.5) !important;
}



/*patrimonio mundial*/
.imagePatrimonio img {
    height: 50vh !important;
    border-radius: var(--borderRadius);
}

.imagePatrimonio75 {
    width: calc(100% - var(--marginH)/2);
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.marginPatrimonio {
    margin-top: 15vh;
}

.section50 {
    display: flex;
    justify-content: space-between;
}

.imageSectionFlex {
    display: flex;
    justify-content: space-between;
}

.imageSectionFlex img {
    width: 30%;
    border-radius: var(--borderRadius);
}

.section50 .imageSection,
.section50 .textDiv {
    width: calc(50% - var(--marginH)/2);
}

.imagePatrimonio50 {
    width: 100%;
    border-radius: var(--borderRadius);
}

.textDiv h3 {
    font-weight: 500;
}

.seeMore {
    text-decoration: underline;
}


.section50 .textDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/*Unesco*/
.textUnesco {
    display: flex;
    justify-content: space-between
}

.textUnesco div {
    width: calc(50% - var(--marginH));
}

.textUnesco .buttonUnesco {
    width: auto !important;
    ;
}

.buttonUnesco {
    display: flex;
    gap: var(--marginH);
}

.alignEnd {
    display: flex;
    justify-content: flex-end;
}

.imageIndex video {
    width: 100%;
    height: calc(100vh - var(--marginH)* 2 - var(--topDiv));
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.imageSectionFlex video {
    width: 30%;
    border-radius: var(--borderRadius);
}



/*index*/
.imageIndex img {
    width: 100%;
    height: calc(100vh - var(--marginH)* 2 - var(--topDiv));
    object-fit: cover;
    border-radius: var(--borderRadius);
}



.test {
    margin-top: var(--marginH)
}


.agenda {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--marginH));
    border-radius: var(--borderRadius);
    transition: background-color 0.5s;
}

.agenda:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.agendaH1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agendaDetails {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    gap: var(--marginH);
}

.agendaArrow {
    display: flex;
    align-items: flex-end;
    margin-left: calc(var(--marginH));
}

.agendaArrow {
    align-self: flex-end;
}

.agendaArrow svg {
    width: 1vw;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
}

.newsGeneral {
    display: inline-flex;
    gap: calc(var(--marginH));
    overflow: hidden;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.news {
    user-select: none;
    color: black;
    flex: 0 0 auto;
    width: 25vw;
    transform: stroke-width 1s;
}


.newsGeneral:active {
    cursor: grabbing;
}

.newsH1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-wrap: wrap;
}

.newsImage {
    margin-bottom: calc(var(--marginH)/2);

    max-width: 100%;
    overflow: hidden;
}

.newsImage img {
    height: 18vw;
    width: 25vw;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.visitaDiv {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--marginH));
    border-radius: var(--borderRadius);
    height: 5vw;
}


.news p {
    text-wrap: wrap;
}

.newsH1Title {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsH1Title h3 {
    text-wrap: pretty;
    margin-bottom: calc(var(--marginH)/2);
}

.newsH1Title p:first-child {
    margin-bottom: calc(var(--marginH)/4);
}

.newsH1Title p:last-child {
    font-size: calc(9px + 0.390625vw);
}

.button {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--borderRadius)* 0.6) calc(var(--borderRadius)* 1.8);
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    transition: background-color 1s;
}

.button:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.buttonVisitDiv {
    display: flex;
    align-items: flex-end;
}

.arrowScroll img {
    width: 1.5vw;
}

.arrowScroll {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrowScroll img {
    cursor: pointer;
}










/*footer*/
footer {
    background-color: var(--black);
    color: white;
    min-height: calc(10vw + var(--marginH) *2);
}

#logoFooter {
    display: none;
    width: 13vw;
}

.footerContent {
    display: flex;
    padding: var(--marginH);
    justify-content: space-between;
    align-items: flex-end;
    min-height: calc(10vw + var(--marginH));
}

.footerContent div {
    min-width: 20%;
}


@media screen and (max-width:900px) {

    /*geral*/
    p,
    .button {
        font-size: calc(14px + 0.390625vw);
    }

    .newsH1Title p:last-child {
        font-size: calc(12px + 0.390625vw);
    }

    .newsDetails p {
        font-size: calc(12px + 0.390625vw);
    }

    h1 {
        font-size: calc(30px + 0.390625vw);
        font-weight: 700;
    }

    h2 {
        font-size: calc(25px + 0.390625vw);
        font-weight: 700;
    }


    h3 {
        font-size: calc(18px + 0.390625vw);
        font-weight: 700;
    }

    #menuIconDesktop {
        display: none;
    }

    #menuIconMobile {
        display: block;
        width: calc(var(--marginHMobile));
    }

    footer {
        z-index: 100;
        position: relative;
        min-height: 12vh !important;
        padding: var(--marginHMobile);
    }

    #logoFooter {
        height: 12vh;
        display: block;
        width: auto;
    }

    .noneMobile {
        display: none;
    }

    #menuItemsDesktop {
        display: none;
    }

    #logoHeader {
        display: none;
    }

    #logoHeaderMobile {
        background-color: white;
        height: 12vh;
        display: block;
        width: 100%;
        position: fixed;
        z-index: 3;
        padding: var(--marginHMobile);
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
    }

    #closeMenuDesktop {
        display: none;
    }

    .marginTopDefault {
        margin-top: var(--marginHMobile);
    }

    .marginBottomDefault {
        margin-bottom: var(--marginHMobile);
    }


    .marginTopDouble {
        margin-top: calc(var(--marginHMobile) * 2);
    }

    .marginBottomDouble {
        margin-bottom: calc(var(--marginHMobile) * 2);
    }

    .marginTopHalf {
        margin-top: calc(var(--marginHMobile) / 2);
    }

    .marginBottomHalf {
        margin-bottom: calc(var(--marginHMobile) / 2);
    }

    .footerContent {
        align-items: flex-start;
        margin-top: 6vw;
        align-items: flex-start;
        margin-top: var(--marginHMobile);
        gap: var(--marginHMobile);
        flex-direction: column;
    }





    /*index*/
    .geralDiv {
        padding: 0;
        margin: 0;
    }

    .lateralDiv {
        width: 5vw;
        padding: var(--marginHMobile);
    }

    .menuItems {
        display: none;
    }

    .mainDiv {
        width: calc(95vw - var(--marginHMobile) * 4);
        padding: var(--marginHMobile);
        overflow-x: hidden;

    }

    #menuItemsDesktop {
        display: none;
    }

    .menuHeader img {
        height: calc(var(--marginHMobile)* 0.7);
    }

    .topDiv {
        height: var(--topDivMobile);
        display: flex;
        flex-direction: column;
    }

    .imageIndex img {
        height: calc(var(--vh, 1h) * 100 - var(--marginHMobile) * 3 - var(--topDivMobile) - 12vh);
        object-fit: cover;
    }

    #logoEstatico {
        width: auto !important;
        height: 100%;
    }


    .agenda {
        flex-direction: column;
        min-width: 50vw !important;
        padding: var(--marginHMobile);
        margin-bottom: var(--marginHMobile);
    }

    .agendaH1 {
        width: 100%;
        margin-bottom: var(--marginHMobile);
    }

    .agendaDetails {
        width: 100%;
        display: block;
    }

    .agendaArrow svg {
        width: 2.5vw;
    }



    .agendaArrow {
        display: flex;
        align-items: flex-end;
        margin-left: calc(var(--marginH));
        justify-content: flex-end;
    }

    .agendaGeneral {
        display: inline-flex;
        gap: calc(var(--marginH) / 2);
        overflow: hidden;
        white-space: nowrap;
    }

    .agendaGeneral h3 {
        text-wrap: wrap;
    }

    .agendaDetails p {
        text-wrap: wrap;
    }


    .agendaH1 h2:first-child {
        margin-bottom: calc(var(--marginHMobile) / 2);
    }


    .agendaGeneral {
        gap: var(--marginHMobile);
    }

    .newsGeneral {
        gap: var(--marginHMobile);
    }

    .news {
        min-width: 60vw !important;
    }

    .newsImage img {
        height: 60vw;
        width: 100%;
        margin-top: var(--marginHMobile);
    }

    .newsH1{
        display: flex;
        flex-direction: column;
    }

    .newsH1 svg{
        margin-top: calc(var(--marginHMobile) / 2);
    }

    .newsH1Title{
        width:100%;
        margin-top: calc(var(--marginHMobile) / 2);
    }

    .newsH1Title p:first-child {
        margin-bottom: calc(var(--marginH));
    }

    .newsDetails {
        display: none;
    }

    .arrowScroll img {
        display: none;
    }

    .visitaDiv {
        height: fit-content;
        padding: calc(var(--marginHMobile));
        flex-direction: column;
    }

    .buttonVisitDiv {
        margin-top: calc(var(--marginHMobile)/2);
        justify-content: flex-end;
    }
}